/* ACCORDION */
.accordion-item {
  padding: 1em .5em;
}

.accordion-item--title {
  text-align: left;
}

.accordion-item--title-container {
  align-items: center;
  border-bottom: 2px solid #F3F3F3;
  display: flex;
  justify-content: space-between;
}

.accordion-item--content {
  display: none;
}

.accordion-item--content.is-active {
  display: block;
}

.jfu-toggle-trigger-icon {
  border-bottom: 2px solid #363636;
  border-right: 2px solid #363636;
  height: 8px;
  right: 1.25rem;
  transform: translateY(-2px) rotate(45deg);
  transition: transform 0.2s ease;
  width: 8px;
}

.jfu-toggle-trigger-icon.is-active {
  transform: translateY(2px) rotate(225deg);
}

/* BANNER */
.banner-item img {
  display: block;
  width: 100%;
}

.banner-item {
  position: relative;
}

.banner-item.container {
  padding: 0;
}

.banner-item--content {
  background: rgb(254, 254, 254, 0.8);
  bottom: 0;
  box-sizing: border-box;
  padding: 1em;
  position: absolute;
  right: 0;
  text-align: right;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .banner-item--content {
    font-size: 14px;
    position: relative;
  }
}

.banner-center .banner-item--content {
  text-align: center;
}

.banner-fullcolor .banner-item--content {
  background: transparent;
  position: relative; 
}

.banner-fullcolor .banner-item--link {
  border: 1px solid currentColor;
  display: inline-block;
}

.banner-fullcolor .banner-item--link a {
  color: inherit;
  padding: 15px;
}

/* CUSTOM INFO */
.card-wrapper {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .card-wrapper {
    flex-direction: column; 
  }
}

.card {
  padding: 1em 0.5em;
  width: 100%;
}

.card-item--header {
  display: flex;
  justify-content: center;
}

.card-item--icon {
  float: left;
}

.card-item--icon img {
  height: auto;
  margin: 0 0.5em 0 0;
  max-width: 32px;
}  

.card-item--image {
  clear: both;
  float: none;
  margin-bottom: 0.5em;
  padding: 0;
  text-align: center;  
}

.card-item--image img {
  margin: 0;
  /*Needs 100% image*/
  width: 100%;
}

.card-item--description {
  padding: 0;
}

/* CUSTOM PARAGRAPHS */
.custom-paragraph-item {
  margin-bottom: 1em;
  padding-bottom: .5em;
}

.custom-paragraph-item--content-title {
  display: flex;
  padding-top: 1em;
}

.custom-paragraph-item--icon img {
    margin: 0 0.5em 0 0;
}

.custom-paragraph-item--image-container {
  float: right;
  max-width: 50%;
  padding: 0 0 0 1em;

}

@media only screen and (max-width: 575px) {
  .custom-paragraph-item--image-container {
    float: none; 
    padding: 0;
    max-width: 100%;
  }
}

.custom-paragraph-item--left .custom-paragraph-item--image-container {
  float: left;
  padding: 0 1em 0 0;
}

@media only screen and (max-width: 575px) {
  .custom-paragraph-item--left .custom-paragraph-item--image-container {
   float: none; 
   padding: 0;
  }
}

/* LINK IMAGE */
.link-image-item {
  text-align: center;
}

.link-image-item--title {
  margin-bottom: .5em;
}

.link-image-item--subtitle {
  margin-bottom: .5em;
}

.link-image-item--wrapper {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 575px) {
  .link-image-item--wrapper {
    flex-direction: column;
    text-align: center;
  }
}

.link-image-item {
  padding: .5em;
}

.link-image-item--inner-container {
  display: inline-block;
  position: relative;
}

.link-image-item--text {
  bottom: 50%;
  left: 0;
  position: absolute;
  width: 100%;
}

.li-item--text {
  background: #FFF;
}

.link-image-item--link-text {
  padding: 5px;
}

.link-image--link-text {
  bottom: 20%;
  left: 0;
  position: absolute;
  width: 100%;
}

.li-item--link-text {
  background: #FFF;
  border: 1px solid currentColor;
  display: inline-block;
}

/* MAP */
.embed-item {
  position: relative;
}

.embed-item--iframe iframe {
  height: 100vh;
  width: 100%;
}

.embed-item--info {
  background-color: rgba(255, 255, 255, 0.96);
  box-sizing: border-box;
  overflow: hidden;
  padding: 40px;
  position: absolute;
  right: 5%;
  top: 45px;
  max-width: 350px;
  width: 100%;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .embed-item--info {
    max-width: none;
    position: relative;
    right: 0;
    top: 0;
  }
}

/* GALLERY */
.gallery-wrapper  {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  box-sizing: border-box;
  padding: 10px;
  width: 33.3%;
}

@media only screen and (max-width: 767px) {
  .gallery-item {
    width: 50%;
  }
}

@media only screen and (max-width: 575px) {
  .gallery-item {
    width: 100%;
  }
}

.gallery-item--image img {
  height: auto;
  width: 100%;
}

.gallery-item--image {
  text-align: center;
}

#cboxOverlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  width: 100%;
}

#cboxWrapper {
  background: #bcbcbc;
  min-width: 300px;
}

#cboxContent {
  height: auto;
  padding: 25px;
  width: auto !important;
}

/* QUOTE */
.quote-item .component-item--inner {
  display: flex;
}

.quote-item blockquote {
  margin: 0;
  padding: 1em 1.5em .25em;
}

.quote-item--author {
  font-size: 16px;
  font-weight: 800;
  padding: 0 1.5em;
}

.quote-item--image {
  max-width: 150px;
  padding: 5px;
  width: 100%;
}

.quote-item--link {
  padding: 1em 1.5em;
}

.quote-item--position {
  padding: 0 1.5em;
}

.quote-item--author span:before {
  content: '- ';
}

/* SCHEDULE */
.schedule-item--tab {
 display: inline-block 
}

.schedule-item--program {
  background: #FAFAFA;
  padding: 20px;
}

.schedule-item--program-item {
  display: flex;
}

.schedule-item--item-time {
  padding-right: 20px;
  position: relative;
  width: 20%;
}

.schedule-item--item-info {
  border-left: 1px solid #ed1c94;
  padding-left: 40px;
  width: 80%;
}

.schedule-item--item-flag {
  background-color: #ed1c94;
  border-radius: 50%;
  color: white;
  display: block;
  min-height: 11px;
  position: absolute;
  right: -6px;
  text-align: center;
  top: 0;
  min-width: 11px;
}

.schedule-item--item-flag--extend {
  right: -18px;
}

.schedule-item--item-flag--switch {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #FFF;
  display: block;
  height: 0px;
  margin: 12px 10px;
  width: 0px;
}

.schedule-item--item-title {
  display: block;
  font-weight: 700;
}

.schedule-item--item-speaker {
  display: block;
}

.schedule-item--item-job {
  display: block;
}

.schedule-item--item-image {
  float: left;
  margin-right: 25px;
  max-width: 170px;
}

.schedule-item--item-image img {
  display: block;
  height: auto;
  width: 100%;
}

.schedule-item--item--full-info {
  display: none;
}

/* SLIDESHOW */
.slideshow-item {
  position: relative;
}

.slideshow-item--content {
  background: rgba(0, 0, 0, 0.05);
  bottom: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  text-align: right;
  width: 100%;
}

/* TAB */
.tab-item--tab {
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
 
}
.tab-item--tabs {
  border-style: solid; 
  border-width: 1px;
  border-color:rgb(214, 214, 216);
  border-left-color:#F6F6F7;
  border-right-color:#F6F6F7;
  text-align: left;
}

.tab-item--program--wrapper {
  display: none;
}

.tab-item--program--wrapper.is-active {
  display: block;
}

.custom-table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.custom-table-responsive table {
  border-color: #f7f3f3;
  border-collapse: collapse;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.custom-table-responsive td {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.custom-table-responsive th {
  display: table-cell;
  margin: 0;
  vertical-align: bottom;
}

.custom-table-responsive--label {
  display: inline-block;
  padding: 0 10px 0 0;
  width: 45%;
}

@media only screen and (min-width: 576px) {
  .custom-table-responsive--label {
    display: none !important;
  }
}

@media only screen and (max-width: 575px) {
  .custom-table-responsive thead {
    display: none !important;
  }

  .custom-table-responsive td,
  .custom-table-responsive th {
    display: flex;
  }

  .custom-table-flex .custom-table--content {
    width: 55%;
  }
}

@media only screen and (max-width: 767px) {
  .jfu-table table,
  .jfu-table table tbody {
    display: block;
    width: 100%;
  }

  .jfu-table table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  
  .jfu-table table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .jfu-table table tr {
    display: block;
    margin-bottom: 15px;
  }
    
  .jfu-table table td {
    display: block;
    text-align: right;
  }

}

/* SIMPLE_CARD */
.jfu--text-image--inner {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .jfu--text-image--inner {
    display: block;
  }
}

.jfu--text-image--right {
  flex-direction: row;
}

.jfu--text-image--left {
  flex-direction: row-reverse;
}

.jfu--text-image--top {
  flex-direction: column-reverse;
}

.jfu--text-image--bottom {
  flex-direction: column;
}

.jfu--text-image--image {
  padding-bottom: 15px;
}

.jfu--text-image--right .data-number-card-info--image,
.jfu--text-image--right .jfu--text-image--image {
  padding-left: 15px;
}

.jfu--text-image--left .data-number-card-info--image,
.jfu--text-image--left .jfu--text-image--image {
  padding-right: 15px;
}

@media only screen and (max-width: 767px) {
  .jfu--text-image--left .jfu--text-image--image,
  .jfu--text-image--right .jfu--text-image--image {
    padding-left: 0;
    padding-right: 0;
  }
}

.jfu--text-image--item {
  width: 100%;
}

/* CONTENT COLUMNS */
.content-columns--body {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
}

@media only screen and (max-width: 767px) {
  .content-columns--body {
    flex-direction: column;
  }
}

.content-columns--item {
  width: 100%; 
}

.content-columns--icons .content-columns--item {
  max-width: 64px;
}

.content-columns--icons .content-columns--body {
  justify-content: center;
}

/* BLOCK COMPONENT */
.jfu-block--type-row {
  display: flex;
  flex-wrap: wrap;
}

.jfu-block--type-row .jfu-block-item--header {
  width: 20%;
}

.jfu-block--type-row .jfu-block-item--content {
  width: 80%;
}

@media only screen and (max-width: 575px) {
  .jfu-block--type-row {
    flex-direction: column;
  }

  .jfu-block--type-row .jfu-block-item--header,
  .jfu-block--type-row .jfu-block-item--content {
    width: 100%;
  }
}

/* DATA NUMBER COMPONENT */
.data-number-card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.data-number-card-wrapper .data-number-item {
  box-sizing: border-box;
  margin: 0 0 15px;
  padding: 0 10px;
  width: 50%;
}

.data-number-item .data-number--suffix,
.data-number-item .data-number--prefix,
.data-number-item .numscroller {
  font-size: 32px;
}

@media only screen and (max-width: 767px) {
  .data-number-item .data-number--suffix,
  .data-number-item .data-number--prefix,
  .data-number-item .numscroller {
    font-size: 24px;
  }
}

.data-number-item .numscroller {
  font-weight: 600;
}

.data-number-item .data-number--text {
  display: block;
}

@media only screen and (max-width: 425px) {
  .component-item--inner {
    flex-direction: column;
  }

  .quote-item--image {
    max-width: none;
  }
}
