.modal__cta {
  margin: 5px 0;
  font-size: 12px;
}

.modal__button {
  padding-bottom: 5px;
}

.modal__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: #000000;
  transition: all 0.25s;
}

.modal__dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 85%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-perspective: 1300px;
          perspective: 1300px;
}
.modal__dialog.active {
  opacity: 1;
  visibility: visible;
}
.modal__dialog.active ~ .modal__overlay {
  opacity: 0.9;
  visibility: visible;
}
.modal__dialog.active .modal__content {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  opacity: 1;
}
.modal__content {
  background: #FFF;
  border-radius: 2px;
  padding: 24px;
  color: #131313;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-60deg);
          transform: rotateX(-60deg);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  opacity: 0;
  transition: all 0.25s;
}
.modal__close {
  border: 0;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  height: 32px;
  outline: 0;
  position: absolute;
  right: 0;
  top: 0px;
  width: 32px;
}

.modal__close:before, 
.modal__close:after {
  background: #a20b00;
  content: ' ';
  height: 15px;
  left: 16px;
  position: absolute;
  top: 8px;
  width: 2px;
}
.modal__close:before {
  transform: rotate(45deg);
}
.modal__close:after {
  transform: rotate(-45deg);
}

.modal__header {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 15px;
  text-align: center;
}
.modal__body {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.modal__body h3 {
  font-weight: 400;
}

.modal__footer {
  margin: 0;
}

.link-to {
  cursor: pointer;
  display: inline-block;
  padding: 8px 21px;
}

.link-to-add {
  background: #5da26d;
  border: 4px solid #519e63;
  color: #FFF;
  margin-top: 15px;
  padding: 10px !important;
  text-transform: uppercase;
}

.link-to-back {
  align-items: center;
  border-bottom: 1px dotted #6d6d6d;
  color: #6d6d6d;
  display: flex;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.25;
  padding: 0 0 6px;
  text-transform: uppercase;
}

.link-to-back .link-to-back--icon {
  background: url('../img/jfu_back.svg') no-repeat center;
  background-size: contain;
  display: inline-block;
  height: 15px;
  margin-right: 10px;
  width: 15px;
}

.link-to-action {
  background: #6db3f7;
  color: #FFF;
}
.vjs-hide {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.jfu-component--item {
  display: flex;
  align-items: center;
}

.jfu-component--item label {
  background: #e0e0e0;
  color: #000;
  font-weight: 400;
  padding: 10px;
  width: 100%;
}

.jfu-component--item input {
  margin-right: 15px;
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.jfu-form-component {
  padding-top: 10px;
}

.jfu-form-component input,
.jfu-form-component textarea {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

.jfu-form-component input[type="radio"],
.jfu-form-component input[type="checkbox"] {
  margin-right: 5px;
  width: auto;
}

.display-component {
}

.component-item--wrapper {
  background: #FFF;
  margin-bottom: 5px;
  padding: 3px 16px 3px 45px;
  position: relative;
}

.component-item--wrapper:hover {
  background: #fff9ab;
}

.display-component .operations {
  padding: 10px 0;
}

.jfu-button {
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  line-height: 1;
  padding: 8px 16px;
  text-transform: uppercase;
}

.jfu-button--edit {
  background: #2b87e0;
}

.jfu-button--delete {
  background: #bd0000;
}

.jfu-container--item {
  background: #F3F3F3;
  padding: 5px;
  margin-bottom: 15px;
}

.display-component a.tabledrag-handle .handle, .jfu-table-tabledrag a.tabledrag-handle .handle {
  background-position: center;
  display: flex;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  width: 30px;
}

.form-component--inline {
  display: flex; 
  padding: 10px 0;
}

.form-component--inline label {
  display: block;
  font-size: 12px;
  width: 235px;
}

.form-component--inline input {
  border: none;
  display: block;
  font-size: 12px;
  max-width: 100%;
  padding: 0;
}

.jfu-block-options,
.jfu-autocomplete-options {
  position: relative;
}

.jfu-block-options--list,
.jfu-autocomplete-options--list {
  background: #e6e6e6;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.jfu-block-options--list a,
.jfu-autocomplete-options--list span {
  border-bottom: 1px solid #c5c5c5;
  display: block;
  padding: 8px 3px;
}

.jfu-autocomplete-options--list span:hover {
  color: #2b87e0;
  cursor: pointer;
  text-decoration: underline;
}

.block-item--selected-block {
  background: #cbcbcb;
  border: 1px solid #919191;
  margin-bottom: 15px;
  padding: 15px;
  text-align: center;
}

.block-item--selected-block span {
  font-weight: 600;
}

.jfu-input--description {
  font-size: 10px;
  font-style: italic;
}

.block-item--blockid {
  background: #f3f3f3;
  border: 1px solid #CCC;
  margin-top: 10px;
  padding: 15px;
}

.ui-dialog.jfu-modal-image {
  z-index: 2001;
}

/* IMAGE FIELD JFU FORM */
.jfu-field-form--container {
  background: #f8f8f8;
  border: 1px solid #d1d1d1;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.jfu-image-form {
  margin-bottom: 20px;
}

.jfu-image--actions {
  align-items: center;
  display: flex;
  padding-bottom: 15px;
}

.jfu-image-upload a.use-ajax {
  background: #e6e6e6;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  display: block;
  padding: 8px;
  text-align: center;
  width: 100%;
}

.jfu-image-form .jfu-delete-image {
  padding: 10px 0;
  margin-left: 15px;
  min-width: 120px;
}

.jfu-image-upload img {
  border: 1px solid #767676;
  width: 200px;
}

.jfu-form-component .form-component {
  overflow-y: scroll;
  /*position: relative;*/
  height: 400px;
}

.jfu-form-component .tab-container .form-component {
  overflow: hidden;
  height: auto;
}

.tab-add-new {
  align-items: flex-end;
  background: #f1f1f1;
  border: 1px dashed #5b5b5b;
  display: flex;
  padding: 15px 5px;
  flex-wrap: wrap;
}

.tab-container {
  background: #e6e6e6;
  padding: 10px 20px;
}

.tan--item {
  box-sizing: border-box;
  padding: 5px;
  width: 40%;
}

.tan--item.tan--select select {
  width: 100%;
}

.tan--item.tan--added {
  width: 20%;
}

.tan--item .jfu-button {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.tab-header {
  background: #e6e6e6;
  border: 1px solid #d1d1d1;
  display: flex;
  margin-top: 15px;
}

.tab-header .tab-header--item h3 {
  cursor: pointer;
  margin: 10px 10px 5px;
}

.tab-header .tab-header--item.active {
  background: #5da26d;
  color: #fff;
}

.jfu-image--meta-information {
  display: flex;
  /*padding: 15px 0;*/
}

.jfu-image--meta-data {
  padding: 0 15px;
}

.jfu-image--meta-data--item {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}

.jfu-image--meta-data--item label {
  max-width: 60px;
  width: 100%;
}

.jfu-image--meta-data--item input {
  width: 100%;
}

/* SIMPLE CARD */
.data-number-card-item,
.simple-card-item {
  display: flex;
}

.data-number-card-item--item,
.simple-card-item--item {
  width: 100%;
}

.simple-card--left {
  flex-direction: row-reverse;
}

.simple-card--right {
  flex-direction: row;
}

/* BANNER */
.form-component input[type="color"] {
  max-width: 100%;
  min-height: 35px;
}

/* EMBED */
.embed-item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.embed-item--iframe {
  background: #CCC;
  box-sizing: border-box;
  padding: 20px;
  font-size: 12px;
  width: 50%;
  word-break: break-all;
}

.embed-item--iframe-full {
  width: 100%;
}

.embed-item--info {
  box-sizing: border-box;
  padding: 20px;
  width: 50%;
}

.content-columns--icons {
  justify-content: center;
}

.ade--link.jfu-button--edit {
  border-radius: 0;
  border: 4px solid #3e95e8;
  display: block;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.jfu-link-image--item {
  background: #FFF;
  border: 1px solid #bababa;
  margin-top: 15px;
  padding: 10px 25px;
}

.gallery-wrapper {
  margin: 0 auto;
  max-width: 450px;
}

.gallery-wrapper .gallery-item {
  border: 1px solid #bfbfbf; 
  padding: 20px 15px;
}

.gallery-wrapper .gallery-item div {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.banner-wrapper-slideshow {
  min-height: 220px;
  overflow: hidden;
  position: relative;
}

.banner-wrapper-slideshow .banner-item {
  position: absolute;
  z-index: 1;
}

.banner-wrapper-slideshow .banner-item img {
  height: 220px;
  object-fit: cover;
}

.banner-wrapper-slideshow .banner-item--content {
  position: absolute;
  z-index: 1;
}

.banner-wrapper-slideshow .bws--after,
.banner-wrapper-slideshow .bws--before {
  background: url('../img/jfu_arrow.svg') no-repeat center;
  background-size: contain;
  content: '';
  display: block;
  max-height: 220px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
  z-index: 10;
}

.banner-wrapper-slideshow .bws--after {
  transform: rotate(180deg);
  left: initial;
  right: 0;
}

.jfu-toggle {
  border-bottom: 2px solid #F3F3F3;
}

.jfu-toggle .jfu-toggle-trigger-icon {
  position: absolute;
  top: 8px;
}

.accordion-item--content .accordion-item--title-container {
  border-bottom: 1px dashed #b2cff2;
}

.accordion-item--content .jfu-toggle-trigger-icon {
  border-bottom: 2px solid #b2cff2;
  border-right: 2px solid #b2cff2;
}

.component-item--wrapper .component-item .embed-item--info {
  position: initial;
}

.data-number-item .number--suffix,
.data-number-item .number--prefix,
.data-number-item .number--number {
  font-size: 22px;
}

.error-messages {
  color: #bd0000;
  padding: 10px 0;
}

@media only screen and (max-width: 425px) {
  .content-columns--content,
  .jfu-image--meta-information {
    flex-direction: column;
  }

  .jfu-image--meta-information img {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .data-number-item .number--suffix,
  .data-number-item .number--prefix,
  .data-number-item .number--number {
    font-size: 18px;
  }

  .content-columns--content {
    flex-direction: column;
  }
}

.jfu-table-tabledrag {
  padding: 3px 16px 3px 34px;
  position: relative;
}

.jfu-table-tabledrag a.tabledrag-handle .handle {
  width: 14px;
}

.table-row-changed, .table-head-changed, .tabs-head-changed {
  display: none;
}

.jfu-component--wrapper {
  max-height: 80vh;
  overflow: auto;
}