@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
  font-family: 'PT Sans', sans-serif;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 992px;
  width: 100%;
}

.form-item {
  padding: 5px 0 10px;
}

.form-item label {
  color: #272343;
  font-size: 14px;
}

textarea,
.form-item input {
  background: #FFF;
  border: none;
  border-bottom: 1px solid #b8b8b8;
  box-sizing: border-box;
  color: #595959;
  font-size: 1em;
  padding: 0.5em 0.4em 0.5em 0.5em;
  width: 100%;
}

.json-field-utils--widget--label {
  border-bottom: 2px solid #272343;
  color: #272343;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 .5em;
  padding: .5em 0;
  text-transform: uppercase;
}

.json-field-utils--widget--form {
  background: #FFF;
  border: 2px solid #282343;
  box-shadow: 0 10px 30px -15px rgb(41, 35, 67);
  padding: 25px 30px; 
}

.form-item--new,
.form-item--extra {
  text-align: right;
}

.form-item--checkbox {
  display: flex;
}

.form-item .form-check {
  box-shadow: none;
  width: auto;
}

.form-button,
.form-actions input {
  background: #bae8e8;
  border: none;
  color: #272343;
  cursor: pointer;
  font-weight: 800;
  padding: .75em 2em;
  text-transform: uppercase;
}

.form-button {
  display: block;
  font-size: 12px;
  margin-bottom: 15px;
  text-align: left;
}

.form-actions input:hover {
  background: #272343;
  color: #bae8e8;
}

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .50;
  -webkit-opacity: .85;
  -moz-opacity: .85;
  filter: alpha(opacity=85);
  z-index: 1000;
}

.modal-content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 0 20px 0 #222;
  -webkit-box-shadow: 0 0 20px 0 #222;
  -moz-box-shadow: 0 0 20px 0 #222;
  display: none;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}

.modal-content--inner {
  background: #e0e0e0;
  border: 1px solid #9692a3;
  box-shadow: 0 0px 16px 0px #000;
  display: block;
  max-width: 540px; 
  padding: 30px;
  position: relative;
}

.modal-background.active { 
  display: block;
}

.modal-content.active {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form-item--new .modal-luncher,
.form-item--extra .modal-luncher {
  background: #272343;
  border: 1px solid #272343;
  color: #FFF;
  cursor: pointer;
  display: inline-block; 
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.form-item--new .modal-luncher:hover,
.form-item--extra .modal-luncher:hover {
  background: #FFF;
  color: #272343;
}

.form-item--new {
  margin-top: 10px;
}

body.modal-active {
  overflow: hidden;
}

.add-component--item {
  display: flex;
  flex-wrap: wrap;
}

.component-item--icon {
  box-sizing: border-box;
  display: block;
  min-height: 100px;
  padding: 2px;
  width: 25%;
}

.component-item--icon a {
  align-items: center;
  background: #e0e0e0;
  border: 2px solid #cacaca;
  border-radius: 5px;
  box-sizing: border-box;
  color: #585858;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.component-item--icon a:hover {
  background: #efefef;
}

.component-item--icon a:before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 45px;
  margin: 0 auto;
  width: 45px;
}

.component-item--icon--accordion a:before {
  background-image: url('icons/accordion_icon.svg');
}

.component-item--icon--banner a:before {
  background-image: url('icons/banner_icon.svg');
}

.component-item--icon--card a:before {
  background-image: url('icons/card_icon.svg');
}

.component-item--icon--columns a:before {
  background-image: url('icons/columns_icon.svg');
}

.component-item--icon--gallery a:before {
  background-image: url('icons/gallery_icon.svg');
}

.component-item--icon--link-image a:before {
  background-image: url('icons/link_image_icon.svg');
}

.component-item--icon--map a:before {
  background-image: url('icons/map_icon.svg');
}

.component-item--icon--quote a:before {
  background-image: url('icons/quote_icon.svg');
}

.component-item--icon--schedule a:before {
  background-image: url('icons/schedule_icon.svg');
}

.component-item--icon--slideshow a:before {
  background-image: url('icons/slideshow_icon.svg');
}

.component-item--icon--tabs a:before {
  background-image: url('icons/tabs_icon.svg');
}

.component-item--icon--text a:before {
  background-image: url('icons/text_icon.svg');
}

.component-item--icon--link a:before {
  background-image: url('icons/link_icon.svg');
}

.component-item--icon--image a:before {
  background-image: url('icons/image_icon.svg');
}

.modal-close {
  background: url('icons/close_icon.svg') no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 2px 13px;
  position: absolute;
  right: 4px;
  text-indent: -9999px;
  top: 8px;
}

.form-component-inside {
  display: none;
  background: #e4f6f5;
  padding: 10px 25px;
  margin-top: 15px;
}

.form-replace-inside.hidden {
  display: none;
}

.form-component-inside.active {
  display: block;
}
