<div class="jfu--component jfu-type--{{ json_array.type}}">
{% if json_array.type %}
  {% include '@jfu/components/jfu_' ~ json_array.type ~ '.html.twig' with { 'json_array': json_array, 'components_config': components_config } %}
{% endif %}
</div>

{{ attach_library('jfu/jfu') }}
