<div class="accordion-wrapper{{ classes }}">
  <div class="accordion-item {{ json_array.options.full_width ? 'container-full-width' : 'container' }}">
    <div class="accordion-item--title-container">
      <h3 class="accordion-item--title">{{ json_array.title }}</h3>
      <span class="jfu-toggle-trigger-icon"></span>
    </div>
    <div class="accordion-item--content">
      {% include '@jfu/components/jfu_' ~ json_array.body.type ~ '.html.twig' with {'json_array': json_array.body } %}
    </div>
  </div>
</div>
