<div class="quote-wrapper{{ classes }}">
  <div class="quote-item {{ json_array.options.full_width ? 'container-full-width' : 'container' }}">
    <div class="component-item--inner">
      {% if json_array.image.value is not empty %}
      <div class="quote-item--image">
      {% include '@jfu/components/jfu_' ~ json_array.image.type ~ '.html.twig' with {'json_array': json_array.image } %}
      </div>
      {% endif %}
      <div class="quote-item--description">
        <div class="quote-item--body">
          <blockquote>
            {% include '@jfu/components/jfu_' ~ json_array.body.type ~ '.html.twig' with {'json_array': json_array.body } %}
          </blockquote>
        </div>
        <div class="quote-item--author">
          <span>{{ json_array.author }}</span>
        </div>
        <div class="quote-item--position">
          <span>{{ json_array.position }}</span>
        </div>
        {% if json_array.link.value is not empty %}
        <div class="quote-item--link">
          {% include '@jfu/components/jfu_' ~ json_array.link.type ~ '.html.twig' with {'json_array': json_array.link } %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>   
</div>
