<div class="schedule-item">
   <div class="schedule-item--program">
     {% for jaItems in json_array.items %}
     <div class="schedule-item--program-item">
       <div class="schedule-item--item-time">
         {{ jaItems.hour }}
        <span class="schedule-item--item-flag"></span>
       </div>  
       <div class="schedule-item--item-info">
          {% include '@jfu/components/jfu_' ~ jaItems.body.type ~ '.html.twig' with {'json_array': jaItems.body } %}
       </div>  
     </div>
     {% endfor %}
   </div>
</div>
