<div class="jfu-block--wrapper{{ classes }}">
  <div class="jfu-block-item {{ json_array.blockname|lower|replace({' ' : '-'}) }} {{ json_array.options.full_width ? 'container-full-width' : 'container' }} {{ 'jfu-block--type-' ~ json_array.options.type }}">
    <div class="jfu-block-item--header">
      {% if json_array.title is not empty %}
        <h3 class="jfu-block-item--title">{{ json_array.title }}</h3>
      {% endif %}
      {% if json_array.title is not empty %}
        <h4 class="jfu-block-item--subtitle">{{ json_array.subtitle }}</h4>
      {% endif %}
      {% if json_array.body.value is not empty %}
        {% include '@jfu/components/jfu_' ~ json_array.body.type ~ '.html.twig' with {'json_array': json_array.body } %}
      {% endif %}
    </div>
    <div class="jfu-block-item--content">
      {{ drupal_block(json_array.blockid) }}
    </div>
  </div>
</div>
