<div class="link-image-item--wrapper">
  <div class="link-image-item">
    <div class="link-image-item--inner-container">
      {% if json_array.link.value is not empty %}
      <a class="link-image-item--link" href="{{ json_array.link.external ? json_array.link.value : drupal_url(json_array.link.relative) }}" {{ json_array.link.target ? "target=_blank" }}>
      {% else %}
      <div class="link-image-item--link">
      {% endif %}
      
        {% if json_array.image.value %}
        <div class="link-image-item--image">
          {% include '@jfu/components/jfu_' ~ json_array.image.type ~ '.html.twig' with {'json_array': json_array.image } %}
        </div>
        {% endif %}
        {% if json_array.title %}
          <p class="link-image-item--text"><span class="li-item--text">{{ json_array.title }}</span></p>
        {% endif %}
        {% if json_array.link.text %}
        <div class="link-image--link-text">
          <span class="li-item--link-text">{{ json_array.link.text }}</span>
        </div>
        {% endif %}
      {% if json_array.link.value is not empty %}
      </a>
      {% else %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
