<div class="jfu--text-image--wrapper{{ classes }}">
  <div class="jfu--text-image {{ json_array.options.full_width ? 'container-full-width' : 'container' }}">
    <div class="jfu--text-image--inner {{ 'jfu--text-image--' ~ json_array.options.aligment }}">
      <div class="jfu--text-image--info jfu--text-image--item">
        {% if json_array.title is not empty  %}
          <h2 class="jfu--text-image--title">{{ json_array.title }}</h2>
        {% endif %}
        <div class="jfu--text-image--description">
          {% if json_array.subtitle %}
            <h4 class="jfu--text-image--subtitle">{{ json_array.subtitle }}</h4>
          {% endif %}
          {% if json_array.body.value is not empty  %}
            {% include '@jfu/components/jfu_' ~ json_array.body.type ~ '.html.twig' with {'json_array': json_array.body } %}
          {% endif %}
        </div>
        {% if json_array.items is not empty %}
          {% include '@jfu/components/jfu_' ~ json_array.items.type ~ '.html.twig' with {'items': json_array.items, 'component_config': components_config.data_number_card} %}
        {% endif %}
        {% if json_array.link.value is not empty %}
          {% include '@jfu/components/jfu_' ~ json_array.link.type ~ '.html.twig' with {'json_array': json_array.link } %}
        {% endif %}
      </div>
      {% if json_array.image.value is not empty %}
        <div class="jfu--text-image--image jfu--text-image--item">
          {% include '@jfu/components/jfu_' ~ json_array.image.type ~ '.html.twig' with {'json_array': json_array.image } %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
