<div class="card-wrapper">
  <div class="card">
      <section class="card-item">
        <header class="card-item--header">
          <div class="card-item--icon">
            <img src="{{ json_array.icon }}" alt="Loro" title="Loro" typeof="foaf:Image">
          </div>
          <h3 class="card-item--title">{{ json_array.title }}</h3>
        </header>

        <div class="card-item--content">
          <div class="card-item--image">
            {% include '@jfu/components/jfu_' ~ json_array.image.type ~ '.html.twig' with {'json_array': json_array.image } %}
          </div>
          {% include '@jfu/components/jfu_' ~ json_array.body.type ~ '.html.twig' with {'json_array': json_array.body } %}
        </div>
        <footer class="card-item--footer">
          {% include '@jfu/components/jfu_' ~ json_array.link.type ~ '.html.twig' with {'json_array': json_array.link } %}
        </footer>
      </section>
  </div>
</div>
