<div class="link-list-wrapper{{ classes }}">
  <div class="link-list-item {{ json_array.options.full_width ? 'container-full-width' : 'container' }}">
    <div class="link-list-item--title-container">
      <h3 class="link-list-item--title">{{ json_array.title }}</h3>
    </div>
    <div class="link-list-item--content">
      {% if json_array.subtitle %}
        <h4 class="link-list-info--subtitle">{{ json_array.subtitle }}</h4>
      {% endif %}
      <div class="link-list-items">
        {% if json_array.items.group_items %}
          {% for group_items in json_array.items.group_items  %}
            <div class="jfu-group-items{{ json_array.items.group_classes }}">
              {% for item in group_items  %}
                {% if item.value is not empty  %}
                  <div class="link-list-item">
                    {% include '@jfu/components/jfu_' ~ item.type ~ '.html.twig' with {'json_array': item } %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        {% else %}
          {% for key, item in json_array.items.items %}
            {% if item.value is not empty  %}
              <div class="link-list-item">
                {% include '@jfu/components/jfu_' ~ item.type ~ '.html.twig' with {'json_array': item } %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
