<div class="rich-text-wrapper{{ classes }}">
  <div class="rich-text-item {{ json_array.options.full_width ? 'container-full-width' : 'container' }}">
    <div class="rich-text-item--title-container">
      <h3 class="rich-text-item--title">{{ json_array.title }}</h3>
    </div>
    <div class="rich-text-item--content">
      {% if json_array.subtitle %}
        <h4 class="rich-text-info--subtitle">{{ json_array.subtitle }}</h4>
      {% endif %}
      {% if json_array.body.value is not empty  %}
        <div class="rich-text-info--description">
          {% include '@jfu/components/jfu_' ~ json_array.body.type ~ '.html.twig' with {'json_array': json_array.body } %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
