<div class="slideshow-slick">
  {% for jaItem in json_array.items  %}
  <div class="slide">
    <div class="slideshow-item" >
    {% include '@jfu/components/jfu_' ~ jaItem.type  ~ '.html.twig' with { 'json_array': jaItem } %}
    </div>
  </div>
  {% endfor %}
</div>
