{% if type == 'banner' %}
  <picture>
    <source media="(max-width: 768px)" srcset="{{ file_url(responsive_image.value) }}">
    <img src="{{ file_url(json_array.value) }}" alt="{{ json_array.alt }}" title="{{ json_array.title }}">
  </picture>
{% else %}
  <img src="{{ file_url(json_array.value) }}" alt="{{ json_array.alt }}" title="{{ json_array.title }}">
{% endif %}
