<div class="gallery gallery-component{{ classes }}">
  <div class="gallery--header">
      <h2>{{ json_array.title }}</h2>
      <h4>{{ json_array.subtitle }}</h4>
      {% include '@jfu/components/jfu_' ~ json_array.body.type ~ '.html.twig' with {'json_array': json_array.body } %}
  </div>
  <div class="gallery-wrapper">
    {% for item in json_array.items.items %}
      {% include '@jfu/components/jfu_' ~ item.type ~ '.html.twig' with {'json_array': item } %}
    {% endfor %}
  </div>
</div>
{{ attach_library('jfu/colorbox') }}
