<div class="data-number-card-wrapper">
  {% if items.group_items %}
    {% for group_items in items.group_items  %}
      <div class="jfu-group-items{{ items.group_classes }}">
        {% for item in group_items  %}
          <div class="data-number-item">
            <span class="data-number--prefix">{{item.prefix}}</span>
            <span class="numscroller" data-min="1" data-max="{{item.value}}" data-delay="{{component_config.data_delay}}" data-increment="{{component_config.data_increment}}">{{item.value}}</span>
            <span class="data-number--suffix">{{item.suffix}}</span>
            <p class="data-number--text">{{item.text}}</p>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    {% for item in items.items  %}
      <div class="data-number-item">
        <span class="data-number--prefix">{{item.prefix}}</span>
        <span class="numscroller" data-min="1" data-max="{{item.value}}" data-delay="{{component_config.data_delay}}" data-increment="{{component_config.data_increment}}">{{item.value}}</span>
        <span class="data-number--suffix">{{item.suffix}}</span>
        <p class="data-number--text">{{item.text}}</p>
      </div>
    {% endfor %}
  {% endif %}
</div>

{{ attach_library('jfu/jfu.numscroller') }}