<div class="content-columns--wrapper{{ classes }}">
  <div class="content-columns 
       {{ 'content-columns--' ~ json_array.options.type }} 
       {{ json_array.options.full_width ? 'container-full-width' : 'container' }}">
    <div class="content-columns--header">
      <h2>{{ json_array.title }}</h2>
      <h4>{{ json_array.subtitle }}</h4>
      {% include '@jfu/components/jfu_' ~ json_array.body.type ~ '.html.twig' with {'json_array': json_array.body } %}
    </div>
    <div class="content-columns--body">
      {% if json_array.items.group_items %}
        {% for group_items in json_array.items.group_items  %}
          <div class="jfu-group-items{{ json_array.items.group_classes }}">
            {% for jaItem in group_items  %}
              <div class="content-columns--item">
                {% if json_array.options.type !="text"  %}
                  {% if json_array.options.type == 'icons' %}
                    {% include '@jfu/components/jfu_link_icon.html.twig' with {'json_array': jaItem } %}
                  {% else %}
                    {% include '@jfu/components/jfu_' ~ jaItem.type ~ '.html.twig' with {'json_array': jaItem } %}
                  {% endif %}
                {% else %}
                  {% if jaItem.image.value %}
                  <div class="text-image-item--image">
                    {% include '@jfu/components/jfu_image.html.twig' with {'json_array': jaItem.image } %}
                  </div>
                  {% endif %}
                  {% if jaItem.title is not empty %}
                    <h3 class="text-image-item--title">{{ jaItem.title }}</h3>
                  {% endif %}
                  {% if jaItem.body.value is not empty %}
                    {% include '@jfu/components/jfu_text.html.twig' with {'json_array': jaItem.body } %}
                  {% endif %}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% else %}
        {% for jaItem in json_array.items.items  %}
          <div class="content-columns--item">
            {% if json_array.options.type !="text"  %}
              {% if json_array.options.type == 'icons' %}
                {% include '@jfu/components/jfu_link_icon.html.twig' with {'json_array': jaItem } %}
              {% else %}
                {% include '@jfu/components/jfu_' ~ jaItem.type ~ '.html.twig' with {'json_array': jaItem } %}
              {% endif %}
            {% else %}
              {% if jaItem.image.value %}
              <div class="text-image-item--image">
                {% include '@jfu/components/jfu_image.html.twig' with {'json_array': jaItem.image } %}
              </div>
              {% endif %}
              {% if jaItem.title is not empty %}
                <h3 class="text-image-item--title">{{ jaItem.title }}</h3>
              {% endif %}
              {% if jaItem.body.value is not empty %}
                {% include '@jfu/components/jfu_text.html.twig' with {'json_array': jaItem.body } %}
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="content-columns--footer">
      {% if json_array.link.value is not empty %}
        {% include '@jfu/components/jfu_' ~ json_array.link.type ~ '.html.twig' with {'json_array': json_array.link } %}
      {% endif %}
    </div>
  </div>
</div>
