<div class="gallery-item">
  <div class="gallery-item--image">
    <a href="{{ file_url(json_array.image.value) }}" title="{{ json_array.image.title }}">
    {% include '@jfu/components/jfu_' ~ json_array.image.type ~ '.html.twig' with {'json_array': json_array.image } %}

    </a>
    <p>{{ json_array.title }}</p>
  </div>
</div>
