<div class="tab-item{{ classes }}">
  <div class="tab--header">
      <h2>{{ json_array.title }}</h2>
  </div>
  <div class="tab-item--tabs">               
    {% for tabItem in json_array.items %}
    <div data-tab-item="tab-item-{{ loop.index }}" class="tab-item--tab {{ loop.index == 1 ? 'is-active' }}">
       {{ tabItem.title }}
     </div>
    {% endfor %}
   </div>
   {% for tabContent in json_array.items %}
   <div class= "tab-item-{{ loop.index }} tab-item--program--wrapper {{ loop.index == 1 ? 'is-active' }}">
    <div class="tab-item--program-item">
      {% include '@jfu/components/jfu_' ~ tabContent.body.type ~ '.html.twig' with {'json_array': tabContent.body } %}
    </div>                
  </div>
   {% endfor %}
</div>
