{% for value  in json_array.attributes.elements  %}
<div class="custom-paragraph-item--wrapper custom-paragraph-item--right">
  <section class="custom-paragraph-item">
    <div class="custom-paragraph-item--image-container">
      <figure>
        <img src="{{ value.custom_paragraph_image.value }}"/>
        <figcaption>{{ value.custom_paragraph_image.description }}</figcaption>
      </figure>
    </div>
    <div class="custom-paragraph-item--content-container">
      <div class="custom-paragraph-item--content-title">
        <div class="custom-paragraph-item--icon">
          <img src="{{ value.custom_paragraph_icon }}" width="64" height="64">
        </div>

        <h3 class="custom-paragraph-item--title">{{ value.custom_paragraph_title }}</h3>
      </div>
      <div class="custom-paragraph--content">
        <h4>{{ value.custom_paragraph_subtitle }}</h4>
        {% autoescape false %}
          {{ value.custom_paragraph_body.value }}
        {% endautoescape %}
      </div>
    </div>
  </section>
</div>
{% endfor %}
