<div class="embed-item{{ classes }}">
  {% if  (json_array.title is not empty) or (json_array.body.value is not empty) %}
  <div class="embed-item--info">
    {% if json_array.title is not empty %}
      <h3 class="embed-item--title">{{ json_array.title }}</h3>
    {% endif %}
    {% if json_array.subtitle is not empty %}
      <h4 class="embed-item--subtitle">{{ json_array.subtitle }}</h4>
    {% endif %}
    {% if json_array.body.value is not empty %}
      {% include '@jfu/components/jfu_' ~ json_array.body.type ~ '.html.twig' with {'json_array': json_array.body } %}
    {% endif %}
  </div>
  {% endif %}

  <div class="embed-item--iframe">
    {% autoescape false %}
      {{ json_array.iframe }}
    {% endautoescape %}
  </div>
</div>
